  @import url('https://fonts.googleapis.com/css2?family=Jost&family=Ubuntu:wght@300;400;500&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500&display=swap'); /*fonte*/


  * {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
  }

  body {

    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, #257bcf, #5088bf, #75a7d9);
    background-size: 300% 600%;
    animation: gradientAnimation 2s ease infinite;
    font-family: 'Noto Sans', sans-serif;

  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  .divWelcome {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 450px;
    position: fixed;
    margin-top: 10px;
    left: 200px;
    justify-content: space-between;
  }

  .containerWelcome {
    position: fixed;
    margin-top: 30px;
  }

  .footer {
    background: rgba(241, 237, 237, 0.5);
    color: white;

    /*gradiente*/

    background: linear-gradient(45deg, #266aad, #5088bf, #7fb3e7);
    /* Cor do texto no rodapé */
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
  }

  .container-pedidos {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    margin-top: 170px;
    left: 310px;
    position: fixed;
    height: 350px;
    width: 750px;


  }


  .logoIndex {}

  /* Estilos para .btnLogOut e outros elementos dentro de .navSup */
  .btnLogOut {

    border-radius: 30px;

    cursor: pointer;
    background-color: #33beff;
    border: 2px #fff solid;
    color: #ffffff;
    font-size: 16px;
    
    padding: 10px;
    margin-top: 10px;
    width: 180px;
  }

  .btnLogOut:hover {
    background-color: #ffffff;
    
    color: #414453;
    box-shadow: 0 0 3px rgb(97, 97, 97);
  }

  .divEstoqueForm {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 800px;
    color: #fff;
    left: 50%;
    top: 300px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
    border: 2px #fff solid;
  }

  .divRelatorio {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    color: #fff;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
    border: 2px #fff solid;
  }

  .divRelatorio4 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    color: #fff;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
  }

  .divRelatorio3 {


    justify-content: center;
    align-items: center;
    height: 400px;
    width: 800px;
    color: #fff;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
  }

  .divRelatorio1 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    color: #fff;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
    border: 2px #fff solid;
  }

  .divPedidoNovo2 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 510px;
    width: 400px;
    color: #fff;
    left: 50%;
    top: 270px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
    border: #fff 2px solid;
  }

  .divRelatorio2 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    color: #fff;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    /* Centraliza horizontal e verticalmente */
    position: fixed;
    margin-top: 10px;
  }

  .divTextRelatorio1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
 
    top: 50px;
    margin-left: 80px;
  }

  .divTextForm {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;

    font-size: 15px;
   
    top: 80px;
    margin-left: 130px;
  }

  .divTextForm1 {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;

    font-size: 15px;
   
    top: 200px;
    margin-left: 130px;
  }

  .divTextForm2 {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;

    font-size: 15px;
   
    top: 130px;
    margin-left: 130px;
  }

  .divTextRelatorio2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 20px;
    font-size: 15px;

    top: 120px;
    margin-left: 80px;

  }

  .divTextRelatorio {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    padding: 20px;
    font-size: 15px;
   
    top: 60px;
  }

  .formaticRelatorio,
  .formaticTextRelatorio,
  .btnRelatorio {
    margin-top: 10px;
    margin-bottom: 10px;
    /* Adiciona espaço vertical entre os elementos */
  }

  .formaticRelatorio,
  .formaticTextRelatorio {
    color: #797b85;
    border-radius: 20px;
    width: 200px;
    /* Aumentei a largura para acomodar melhor o conteúdo */
    background-color: #ffffff;
    border: 2px #00aeff solid;
    padding: 5px;
  }

  .formaticTextRelatorio {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #797b85;
    bottom: 5px;
    width: 190px;
    /* Preenche a largura da div */
  }

  .btnRelatorio {
    background-color: #fff;
    font-size: 13px;
    width: 75px;
    /* Reduzi a largura para ajustar melhor */
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 20px;
    position: absolute;
    margin-top: 10px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
    margin: 10px;
    padding: 10px;
    left: 350px;
  }

  .btnRelatorio1 {
    background-color: #fff;
    font-size: 13px;
    width: 120px;
    /* Reduzi a largura para ajustar melhor */
    cursor: pointer;
    color: #000000;
    border: none;
    margin-left: 10px;
    border-radius: 20px;
    padding: 6px;
    margin-top: 10px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
  }

  .btnRelatorio1:hover {
    width: 123px;
    box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
    transition: .3s;
  }

  .btnRelatorio2 {
    background-color: #fff;
    font-size: 13px;
    width: 120px;
    /* Reduzi a largura para ajustar melhor */
    cursor: pointer;
    color: #000000;
    border: none;
    margin-left: 40px;
    border-radius: 20px;
    padding: 6px;
    margin-top: 25px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
    font-weight: normal;
    text-align: center;
  }

  .btnRelatorio2:hover {
    width: 123px;
    box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
    transition: .3s;
  }

  .btnRelatorio3 {
    background-color: #fff;
    font-size: 13px;
    width: 100px;
    /* Reduzi a largura para ajustar melhor */
    cursor: pointer;
    color: #000000;
    border: none;
    margin-left: 40px;
    border-radius: 20px;
    padding: 6px;
    margin-top: 25px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);

    font-weight: normal;
    text-align: center;
  }

  .btnRelatorio3:hover {
    width: 99px;
    margin-left: 41px;
    box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
    transition: .2s;


  }

  .btnRelatorio:hover {
    width: 77px;
    margin: 11px;
    box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
    transition: .3s;
  }

  .titleRelatorio {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 40px;
    transform: translateY(-50%);
  }

  .divWelcome3 {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 600px;
    position: fixed;
    margin-top: 50px;
    left: 370px;
    font-family: 'Noto Sans', sans-serif;
  }

  .divWelcome2 {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 500px;
    position: fixed;
    margin-top: 100px;
    left: 180px;
    font-family: 'noto', sans-serif;
  }

  .textWelcome3 {
    text-align: center;
    font-size: 35px;
    margin-top: 0px;

    color: white;
    cursor: text;
  }

  .divWelcome4 {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 500px;
    position: fixed;
    margin-top: 90px;
    left: 410px;
  }

  .textWelcome4 {
    text-align: center;
    font-size: 20px;
    margin-top: 0px;
    
    color: white;
    cursor: text;
  }

  .textWelcome2 {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;

    color: white;
    cursor: text;
  }

  .textWelcome {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    
    color: white;
    cursor: text;
    margin-right: 30px;



  }


  .btnRodape {
    background-color: #fff;
    font-size: 13px;
    width: 180px;
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 20px;
    padding: 6px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
  }

  .btnRodape:hover {
    width: 200px;
    box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
    transition: .3s;
  }

  .btn-expandir {
    width: 100%;
    padding-left: 10px;
  }

  .btn-expandir>i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }

  




  .divPedido {
    background-color: #f8f8f8d5;
    height: 240px;
    width: 780px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .divEstoque {
    background-color: #f8f8f8d5;
    height: 320px;
    width: 780px;
    margin-top: 100px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #pedidoSubtitulo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    top: 40px;


  }