body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(0, 127, 130);

  }

  form {
    margin-top: 80px;
    margin-left: 25%;

  }

  label {
    color: white;
  }
    #zoom:hover {
    transform: scale(1.1, 1.1);
  }


  /*cor das letras sem hover*/

  .w3-sidebar a {

    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }


  @media (max-width: 768px) {
    .w3-sidebar {
      width: 100%;
      height: auto;
    }

    .w3-sidebar a {
      padding: 5px;
      margin-bottom: 5px;
    }
  }





  .form-row .form-group {
    padding-right: 15px;
    padding-left: 15px;
  }

  .custom-file-input {
    width: 100%;
  }

  select.form-control {
    bottom: auto;
  }


  #custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(10, 96, 102);
    color: #fff;
    padding: 20px;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    z-index: 500;
  }

  #custom-alert p {
    margin-bottom: 10px;
  }

  #ok-button {


    color: #fff;



    cursor: pointer;
    font-size: medium;

    background-color: rgb(161, 46, 47);

    padding: 10px 15px;
    border: none;
    border-radius: 5px;

  }

  #ok-button:hover {

    background-color: rgb(212, 42, 42);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;

    color: #fff;
    border: none;


    cursor: pointer;
    font-size: medium;

  }


  .w3-sidebar {
    background-color: rgb(10, 96, 102);
    text-align: center;
    width: 20%;
    position: absolute;
  }

  .w3-button:hover {
    color: #000 !important;
    font-weight: 700;
    background-color: rgb(161, 46, 47) !important;
    padding: 3%;

  }



  #form1 {

    z-index: 5;
    position: absolute;
    /* define a largura máxima do formulário */
    max-width: 800px;
    /* define a margem esquerda em 15% para alinhar com a sidebar */
    margin-left: 25%;
    /* demais estilos */
    align-items: center;
    margin-top: 3cm;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: rgb(10, 96, 102);


  }

  #form2 {


    z-index: 5;
    position: absolute;
    /* define a largura máxima do formulário */
    max-width: 800px;
    /* define a margem esquerda em 15% para alinhar com a sidebar */
    margin-left: 25%;
    /* demais estilos */
    align-items: center;
    margin-top: 3cm;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: rgb(10, 96, 102);
  }


  #form3 {

    z-index: 5;
    position: absolute;
    /* define a largura máxima do formulário */
    max-width: 800px;
    /* define a margem esquerda em 15% para alinhar com a sidebar */
    margin-left: 25%;
    /* demais estilos */
    align-items: center;
    margin-top: 3cm;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: rgb(10, 96, 102);


  }

  #form4 {

    z-index: 5;
    position: absolute;
    /* define a largura máxima do formulário */
    max-width: 800px;
    /* define a margem esquerda em 15% para alinhar com a sidebar */
    margin-left: 25%;
    /* demais estilos */
    align-items: center;
    margin-top: 3cm;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    background-color: rgb(10, 96, 102);

  }


  .form-content {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
  }

  #content {
    display: none;
  }

  body {
    margin: 0;

  }

  .unicamp {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
    z-index: 2;
  }