@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Ubuntu:wght@300;400;500&display=swap');

* {
    font-family: 'Jost', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  
    background: linear-gradient(45deg, #222, #444);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.form-container img {
    height: 120px;
    width: 180px;
    margin-bottom: 20px;
}

.form-container h2 {
    font-family: 'Jost', sans-serif;
    font-size: 36px;
    color: white; /* Alterada a cor da fonte para branco */
    margin-bottom: 20px;
}

.form-container label {
  font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white; /* Alterada a cor da fonte para branco */
}

.form-container p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: white; /* Alterada a cor da fonte para branco */
}

.form-container input[type="text"],
.form-container input[type="password"] {
 
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
}

.form-container button[type="submit"] {
    background-color:white;
    border: none;
    color:#444; /* Alterada a cor da fonte para branco */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    width: 100%;
}

.form-container button[type="submit"]:hover {
    background-color:#444;
    color: #ccc;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.form-container .forgot-password {
    text-align: center; 
    margin-top: 15px;
    font-size: 14px;
    color: white; /* Alterada a cor da fonte para branco */
}

.form-container .forgot-password a {
    color: white; /* Alterada a cor da fonte para branco */
    text-decoration: none;
}

.form-container .forgot-password a:hover {
    text-decoration: underline;
}

.loginLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#logo {
    height: 100%;
    width: 150px;
}
